.about {
  padding-top: 115px;
  padding-bottom: 110px;
}

.about__text {
  padding-left: 86px;

  &--title {
    font-family: "MullerBold", "Arial", sans-serif;
    font-size: 30px;
    color: $font-color-title;
  }

  &--slogan {
    padding-top: 50px;
    width: 360px;
    font-family: "MullerMedium", "Arial", sans-serif;
    font-size: 32px;
    color: $font-color-slogan;
  }

  &--description {
    padding-top: 50px;
    width: 515px;
    font-family: "OpenSansRegular", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: $font-color-description;

    p {
      padding-bottom: 25px;
    }
  }
}
