.print {
  position: relative;
  height: 1040px;
  padding-top: 90px;
}

.print__image {
  position: absolute;
  bottom: 250px;

  &--content {
    width: 900px;
  }
}

.print__text {
  display: inline-block;
  text-align: left;

  &--slogan {
    padding-top: 50px;
    width: 410px;
    font-family: "MullerMedium", "Arial", sans-serif;
    font-size: 32px;
    line-height: 38px;
    color: $font-color-slogan;
  }

  &--description {
    padding-top: 50px;
    padding-bottom: 28px;
    width: 515px;
    font-family: "OpenSansRegular", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: $font-color-description;

    p {
      padding-bottom: 25px;
    }
  }
}

.wrapper-print {
  margin: 0 auto;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: right;
}
